* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40pt;
}

.flex-container {
    display: flex;
    background-color: #ecc5c5;
    justify-content: space-between;
    align-items: center;
}




